@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@inject IViewLocalizer Localizer
@{
    Localizer.GetString("FindeMeOnText");
}
<template id="header">
    <header>
        <div class="logo-container">
            <sp-logo></sp-logo>
            <h3>
                @Localizer["FindMeOnText"]
            </h3>
            <div class="socials-strip">
                <a href="https://github.com/SirPatagon" title="@Localizer["GitHub"]"><i class="fab fa-github"></i>@Localizer["GitHub"]</a>
                <a href="https://gitlab.com/SirPatagon" title="@Localizer["GitLab"]"><i class="fab fa-gitlab"></i>@Localizer["GitLab"]</a>
                <a href="https://twitter.com/SirPatagon" title="@Localizer["Twitter"]"><i class="fab fa-twitter"></i>@Localizer["Twitter"]</a>
                <a href="https://mastodon.social/@@sirpatagon" title="@Localizer["Mastodon"]"><i class="fab fa-mastodon"></i>@Localizer["Mastodon"]</a>
                <a href="https://steamcommunity.com/id/SirPatagon/" title="@Localizer["Steam"]"><i class="fab fa-steam"></i>@Localizer["Steam"]</a>
                <a href="https://www.youtube.com/channel/UClN8kD_2x5kIzmI852U4STw" title="@Localizer["YouTube"]"><i class="fab fa-youtube"></i>@Localizer["YouTube"]</a>
                <a href="mailto:sirpatagon+development@gmail.com" title="@Localizer["Gmail"]"><i class="fas fa-envelope"></i>@Localizer["Gmail"]</a>
            </div>
            <a href="#content" class="arrow-link">
                @Localizer["AboutMe"]
                <div class="arrow-container">
                    <i class="fas fa-chevron-down"></i>
                </div>
            </a>
        </div>
    </header>
</template>
